In [3]:
import pandas as pd

df = pd.read_csv("./ds_salaries.csv")

display(df)

print(df["company_size"].unique())

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df_features = df.copy(deep=True)

target = df_features["salary_in_usd"]
df_features.drop(["salary", "salary_currency", "salary_in_usd"], axis=1, inplace=True)

display(df_features)

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,ES,100,ES,L
1,2023,MI,CT,ML Engineer,US,100,US,S
2,2023,MI,CT,ML Engineer,US,100,US,S
3,2023,SE,FT,Data Scientist,CA,100,CA,M
4,2023,SE,FT,Data Scientist,CA,100,CA,M
...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,US,100,US,L
3752,2020,EN,FT,Data Scientist,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,US,100,US,L
3754,2021,SE,FT,Data Science Manager,IN,50,IN,L

# Create preprocessor

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size"]
ordinal_features = ["experience_level", "work_year"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ('ord', OrdinalEncoder(categories=[
        ['EN', 'MI', 'SE', 'EX'],
        [2020,2021,2022,2023]
    ]), ordinal_features)])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["work_year", "employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size"]
ordinal_features = ["experience_level"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ('ord', OrdinalEncoder(categories=[
        ['EN', 'MI', 'SE', 'EX'],
    ]), ordinal_features)])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["experience_level", "employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size"]
ordinal_features = ["work_year"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ('ord', OrdinalEncoder(categories=[
        [2020, 2021, 2022, 2023],
    ]), ordinal_features)])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["work_year", "employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size", "experience_level"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

In [ ]:
import pandas as pd

df = pd.read_csv("./ds_salaries.csv")

display(df)

print(df["company_size"].unique())

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df_features = df.copy(deep=True)

target = df_features["salary_in_usd"]
df_features.drop(["salary", "salary_currency", "salary_in_usd"], axis=1, inplace=True)

display(df_features)

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,ES,100,ES,L
1,2023,MI,CT,ML Engineer,US,100,US,S
2,2023,MI,CT,ML Engineer,US,100,US,S
3,2023,SE,FT,Data Scientist,CA,100,CA,M
4,2023,SE,FT,Data Scientist,CA,100,CA,M
...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,US,100,US,L
3752,2020,EN,FT,Data Scientist,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,US,100,US,L
3754,2021,SE,FT,Data Science Manager,IN,50,IN,L

# Create preprocessor

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["work_year", "employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size"]
ordinal_features = ["experience_level", "work_year"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ('ord', OrdinalEncoder(categories=[
        ['EN', 'MI', 'SE', 'EX'],
    ]), ordinal_features)])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

oneHot_features = ["work_year", "employment_type", "remote_ratio", "job_title", "salary_currency", "employee_residence", "company_location","company_size"]
ordinal_features = ["experience_level"]
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(), oneHot_features),
    ('ord', OrdinalEncoder(categories=[
        ['EN', 'MI', 'SE', 'EX'],
    ]), ordinal_features)])

preprocessor.set_output(transform="pandas")
df_preprocessed = preprocessor.fit_transform(df_features)
display(df_preprocessed)

AttributeError: 'ColumnTransformer' object has no attribute 'set_output'

# init Model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

estimator = LinearRegression()

# Execute pipeline and evaluate

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score, KFold
import numpy as np

steps = [('estimator', estimator)]

pipeline = Pipeline(steps)

kfold = KFold(n_splits=5, shuffle=True, random_state = 42)

r2_scores = cross_val_score(pipeline, df_preprocessed, target, cv=kfold, scoring='r2')
mse_scores = -cross_val_score(pipeline, df_preprocessed, target, cv=kfold, scoring='neg_mean_squared_error')


print(np.mean(r2_scores))
print(np.mean(mse_scores))

0.3594218793998336
2544087654.4091425

# init Model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

estimator = LinearRegression()

# Execute pipeline and evaluate

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score, KFold
import numpy as np

steps = [('estimator', estimator)]

pipeline = Pipeline(steps)

kfold = KFold(n_splits=5, shuffle=True, random_state = 42)

r2_scores = cross_val_score(pipeline, df_preprocessed, target, cv=kfold, scoring='r2')
mse_scores = -cross_val_score(pipeline, df_preprocessed, target, cv=kfold, scoring='neg_mean_squared_error')


print(np.mean(r2_scores))
print(np.mean(mse_scores))

0.3594218793998336
2544087654.4091425